{% extends "quiz_template.html" %}
{% block quiz_content %}
<h2>How old are you?</h2>
<br>
<form method="POST" action="/quiz/age">

    <div class="d-grid gap-3 col-6 mx-auto">

        <input type="checkbox" class="btn-check" name="age" id="18-35" value="18-35" autocomplete="off">
        <label class="btn btn-outline-dark" for="18-35">18-35</label>

        <input type="checkbox" class="btn-check" name="age" id="36-50" value="36-50" autocomplete="off">
        <label class="btn btn-outline-dark" for="36-50">36-50</label>

        <input type="checkbox" class="btn-check" name="age" id="51-64" value="51-64" autocomplete="off">
        <label class="btn btn-outline-dark" for="51-64">51-64</label>

        <input type="checkbox" class="btn-check" name="age" id="65+" value="65+" autocomplete="off">
        <label class="btn btn-outline-dark" for="65+">65+</label>

        {% if error %}
        <div class="error-inline">
            <div class="error-dot"></div> {{ error }}
        </div>
        {% endif %}

        <a class="btn-back" href="/quiz/name"> &#8592; Back </a>
    </div>

    <button type="submit" class="btn btn-primary mt-3 btn-submit">Next</button>
</form>

{% endblock %}