{% extends "quiz_template.html" %}

{% block content %}
    <h2 style="font-size: 1.5rem; padding-bottom: 10px;">Here are the ingredient recommendations based on your quiz results:</h2>

    <form method="POST" action="/quiz/customize">

    <div class="card slider">
        <label for="caffeine" class="form-label">Caffeine (mg)</label>
        <div class="d-flex justify-content-between mb-0"><small>0 mg</small><small>500 mg</small></div>
        <input type="range" class="form-range" min="0" max="500" step="50" id="custom_caffeine" name="custom_caffeine" value="{{ caffeine }}">
        <div class="mb-0"><small id="caffeine_value">{{ caffeine }} mg</small></div>
    </div>

    <div class="card slider">
        <label for="creatine" class="form-label">Creatine (g)</label>
        <div class="d-flex justify-content-between mb-0"><small>0 g</small><small>15 g</small></div>
        <input type="range" class="form-range" min="0" max="15" step="0.5" id="custom_creatine" name="custom_creatine" value="{{ (creatine / 1000) | round(1) }}">
        <div class="mb-0"><small id="creatine_value">{{ (creatine / 1000) | round(1) }} g</small></div>
    </div>

    <div class="card slider">
        <label for="beta_alanine" class="form-label">Beta-Alanine (g)</label>
        <div class="d-flex justify-content-between mb-0"><small>0 g</small><small>6.4 g</small></div>
        <input type="range" class="form-range" min="0" max="6.4" step="0.1" id="custom_betaAlanine" name="custom_betaAlanine" value="{{ beta_alanine / 1000 }}">
        <div class="mb-0"><small id="beta_alanine_value">{{ (beta_alanine / 1000) | int }} g</small></div>
    </div>



    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <button type="reset" class="btn btn-secondary mt-3" onclick="window.location.href='/quiz/customize'">Reset Values to Original</button>
    </form>

    <!-- displays the values of the sliders in real time-->
    <script>
        const caffeineSlider = document.getElementById('custom_caffeine');
        const betaAlanineSlider = document.getElementById('custom_betaAlanine');
        const creatineSlider = document.getElementById('custom_creatine');
        const caffeineValue = document.getElementById('caffeine_value');
        const betaAlanineValue = document.getElementById('beta_alanine_value');
        const creatineValue = document.getElementById('creatine_value');

        caffeineSlider.addEventListener('input', () => {
            caffeineValue.textContent = caffeineSlider.value + ' mg';
        });

        betaAlanineSlider.addEventListener('input', () => {
            betaAlanineValue.textContent = betaAlanineSlider.value + ' g';
        });

        creatineSlider.addEventListener('input', () => {
            creatineValue.textContent = creatineSlider.value + ' g';
        })
    </script>
{% endblock %}
