{% extends "quiz_template.html" %}
{% block quiz_content %}
<h2>What are you looking for from your pre-workout?</h2>
<br>
<form method="POST" action="/quiz/goals">

    <div class="d-grid gap-3 col-6 mx-auto">

        <input type="checkbox" class="btn-check" name="goal" id="pump" value="pump" autocomplete="off">
        <label class="btn btn-outline-dark" for="pump">Pump</label>

        <input type="checkbox" class="btn-check" name="goal" id="energy" value="energy" autocomplete="off">
        <label class="btn btn-outline-dark" for="energy">Energy</label>

        <input type="checkbox" class="btn-check" name="goal" id="focus" value="focus" autocomplete="off">
        <label class="btn btn-outline-dark" for="focus">Focus</label>

        <input type="checkbox" class="btn-check" name="goal" id="endurance" value="endurance" autocomplete="off">
        <label class="btn btn-outline-dark" for="endurance">Endurance</label>

        <input type="checkbox" class="btn-check" name="goal" id="strength" value="strength" autocomplete="off">
        <label class="btn btn-outline-dark" for="strength">Strength</label>

        <a class="btn-back" href="/quiz/weight" > &#8592; Back </a>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3 btn-submit">Next</button>
</form>

{% endblock %}