{% extends "quiz_template.html" %}

{% block content %}
    <h2>Thank you for taking the quiz!</h2>
    <p>Your weight is:<i> {{ weight }} lbs</i></p>
    <p>Your desired stimulant content is:<i> {{ stimulant }}</i></p>
    <p>Your goals are:</p>
    <ul style="list-style-type: none; padding-left: 0;">
        <li><i> pumpGoal      = {{ pumpGoal }}</i></li>
        <li><i> energyGoal    = {{ energyGoal }}</i></li>
        <li><i> focusGoal     = {{ focusGoal }}</i></li>
        <li><i> enduranceGoal = {{ enduranceGoal }}</i></li>
        <li><i> strengthGoal  = {{ strengthGoal }}</i></li>
    </ul>
    <p>Based on your quiz results, we recommend the following ingredient amounts:</p>
    <p>    
        Caffeine: {{ caffeine }} mg<br>
    </p>
    <p> click <a href="/customize">here</a> to customize your blend</p>
    <p> click <a href="/"        >here</a> to go back home </p>
{% endblock %}
