{% extends "quiz_template.html" %}
{% block quiz_content %}

<h2 class="question">What's your sex?</h2>
<form method="POST" action="/quiz/sex">

    <div class="d-grid gap-3 col-6 mx-auto">

        <input type="radio" class="btn-check" name="sex" id="male" value="male" autocomplete="off">
        <label class="btn btn-outline-dark" for="male">Male</label>

        <input type="radio" class="btn-check" name="sex" id="female" value="female" autocomplete="off">
        <label class="btn btn-outline-dark" for="female">Female</label>

        <input type="radio" class="btn-check" name="sex" id="ignore" value="ignore" autocomplete="off">
        <label class="btn btn-outline-dark" for="ignore">Don't consider this</label>

        {% if error %}
        <div class="error-inline">
            <div class="error-dot"></div> {{ error }} </div>
        {% endif %}

        <a class="btn-back" href="/quiz/age"> ← Back </a>
    </div>

    <button type="submit" class="btn btn-primary mt-3 btn-submit">Next→</button>
</form>

{% endblock %}