{% extends "quiz_template.html" %}
{% block quiz_content %}

<div class="question" style="margin-top: -1.5rem !important">How much stimulant do you want your pre-workout to have?</div>
<form method="POST" action="/quiz/stimulant">

    <div class="d-grid gap-3 col-12 col-md-6 mx-auto">

        <input type="radio" class="btn-check" name="stimulant" id="no-stimulant" value="none" autocomplete="off">
        <label class="btn btn-outline-dark" for="no-stimulant">None</label>

        <input type="radio" class="btn-check" name="stimulant" id="low-stimulant" value="low" autocomplete="off">
        <label class="btn btn-outline-dark" for="low-stimulant">Low</label>

        <input type="radio" class="btn-check" name="stimulant" id="medium-stimulant" value="moderate"
            autocomplete="off">
        <label class="btn btn-outline-dark" for="medium-stimulant">Moderate</label>

        <input type="radio" class="btn-check" name="stimulant" id="high-stimulant" value="high" autocomplete="off">
        <label class="btn btn-outline-dark" for="high-stimulant">High</label>

        <input type="radio" class="btn-check" name="stimulant" id="any-stimulant" value="any" autocomplete="off">
        <label class="btn btn-outline-dark" for="any-stimulant">I don't care</label>

        {% if error %}
        <div class="error-inline">
            <div class="error-dot"></div> {{ error }} </div>
        {% endif %}

        <a class="btn-back" href="/quiz/goals"> ← Back </a>
    </div>

    <button type="submit" class="btn btn-primary mt-3 btn-submit">Submit</button>
</form>

<script>
  if (window.innerWidth <= 480) {
    document.querySelectorAll('.btn-check').forEach(radio => {
      radio.addEventListener('change', () => {
        radio.closest('form').submit();
      });
    });
  }
</script>
{% endblock %}