{% extends "quiz_template.html" %}
{% block content %}
<h2>How much stimulant do you want your pre-workout to have?</h2>
<br>
<form method="POST" action="/quiz/stimulant">

    <div class="d-grid gap-3 col-6 mx-auto">

        <input type="radio" class="btn-check" name="stimulant" id="no-stimulant" value="0" autocomplete="off">
        <label class="btn btn-outline-dark" for="no-stimulant">None</label>

        <input type="radio" class="btn-check" name="stimulant" id="low-stimulant" value="50" autocomplete="off">
        <label class="btn btn-outline-dark" for="low-stimulant">Low</label>

        <input type="radio" class="btn-check" name="stimulant" id="medium-stimulant" value="150" autocomplete="off">
        <label class="btn btn-outline-dark" for="medium-stimulant">Moderate</label>

        <input type="radio" class="btn-check" name="stimulant" id="high-stimulant" value="250"  autocomplete="off">
        <label class="btn btn-outline-dark" for="high-stimulant">High</label>        

        <input type="radio" class="btn-check" name="stimulant" id="any-stimulant" value="any" autocomplete="off">
        <label class="btn btn-outline-dark" for="any-stimulant">I don't care</label>
    </div>
    
<button type="submit" class="btn btn-primary mt-4" style="width: 75px;">Next</button>
</form>



{% endblock %}
