{% extends "quiz_template.html" %}
{% block quiz_content %}

<div class="question">What's your weight?</div>
<form method="POST" action="/quiz/weight">
    <div class="d-grid gap-3 col-12 col-md-6 mx-auto">
        
        <input class="form-control" type="number" name="weight" placeholder="Enter your weight in lbs" aria-label="weight input">
        
        {% if error %}
        <div class="error-inline">
            <div class="error-dot"></div> {{ error }} </div>
        {% endif %}

        <a class="btn-back" href="/quiz/sex"> ← Back </a>
    </div>
    <button type="submit" class="btn btn-primary mt-3 btn-submit">Next</button>
</form>

{% endblock %}